<!DOCTYPE html>
<html lang="en">
<head>
<%= favicon_link_tag "favicon.ico" %>
  <script type="text/javascript" src="http://use.typekit.com/wru1ryh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>  
  <title>The Property Handlers | St. John's Newfoundland Property Management</title>  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28997671-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script> 
</head> 
<body>
  <Div id="wrapper">
    <Div id="header">
      <h1>The Property Handlers<BR>
        <SPAN>We handle your investment. Call Us Today (709) 730.8855</SPAN></h1>
      </Div>

      <Div id="content">
          <%= image_tag "frontpage.jpg" %>
          <h3>Our Services</h3>
          <p>The Property Handlers provide a wide range of “hassle free” services for your property rentals in the St. John’s area.</p>
          
          <h3>We provide:</h3>
          <ul>
            <li>Sourcing and screening quality tenants</li>
            <li>Obtaining references, documentation completion, and proper background checks to ensure the tenant is qualified while mitigating your risk.</li>
            <li>Complete property viewings.</li>
            <li>Ensure proper tenant lease agreements are signed.</li>
            <li>Checking through each property assessing potential damage before tenant occupancy. Any damages will be kept on record for tenant and owner viewing.</li>
            <li>Avoiding any issues that may arise regarding the damage deposit.</li>
            <li>Collecting rent and depositing the owners bank account on a monthly basis.</li>
            <li>Property Maintenance.</li>
            <li>Complete property inspection on a regular basis.</li>
            <li>Handling any issues that may arise.</li>
          </ul>

          <h3>Service Fees</h3>
          <p>We charge 50% of the 1st month rent for sourcing new tenants for your rental. (This fee will cover charges for marketing the home. This fee is waived if we are unsuccessful sourcing a qualified tenant (Certain conditions may apply).</p>
          <p>We charge an 8%  monthly rental revenue fee while your dwelling is rented to clients we source.</p>

          <h3>Maintenance Fees</h3>
          <p>When requested,  the property handlers provide moving, cleaning, landscaping, repair and quality maintenance services at a rate of $35 per hour.  Under immediate emergency circumstances - action may be required to address the situation prior to notification and/or consultation such as leaks & hot water tank replacement.</p>

        </Div>
        <Div id="footer">
          <a href="http://www.facebook.com/pages/Metro-Property-Management-St-Johns-NL/162718460424735#!/pages/The-Property-Handlers/248281775249732?notif_t=page_new_likes">
            <%= image_tag "facebook.png" %></a><div class="g-plusone" data-annotation="none"></div>
            <P>1848 Portugal Cove Road . Portugal Cove St. Phillips . Newfoundland A1M 2N2</p>
              <p>All Rights Reserved. 2012 &#169. A <a href="http://about.me/JaretManuel">Squirrel Nut Studio</a> Production.</P>
       </Div>
       </Div>
</body>
</html>