<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <script type="text/javascript" src="http://use.typekit.com/wru1ryh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>  
  <title>The Property Handlers | St. John's Newfoundland Property Management</title>  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28997671-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script> 
</head> 
<body>
  <DIV id="wrapper">
    <DIV id="header">
      <h1>The Property Handlers<BR>
        <SPAN>We handle your investment. Call Us Today (709) 730.8855</SPAN></h1>
      </DIV>

      <DIV id="content">

        <!-- <IMG src="frontpage.jpg"> -->
          <%= image_tag "frontpage.jpg" %>

          <h3 class="marginless">Our Services</h3>

          <DIV id="twocolleft">
            <P>Our monthly service fee is 8% per dwelling.</P>

            <P>We take 50% of the first months rent when a house is vacant. This fee will cover charges for marketing the home. For example: placing ads on various websites and newspapers.          If we can not find a tenant after 3 months the 50% fee will be waived. Certain conditions may apply. </P>

            <P>We will be responsible for rent collection, property viewing, and taking care of any problems that may occur. We will get references from all tenants and do  a proper background check so the tenant is qualified.The owner will not have to deal with any of the stress involved. </P>
          </DIV>
          <DIV id="twocolright">
            <P>A lease will be signed with the tenant. </P>

            <P>Rent will be deposited directly into the owners bank account monthly.</P>

            <P>We will ensure the property is taken care of in a professional manner.</P>

            <P>Inspections will take place every few months of properties.</P>

            <P>We do a check through each property accessing damage before tenants move in. Any damages will be kept on record for the tenant and owner to see. Therefore, no problems should occur with damage deposit.</P>
          </DIV>

          <h3 class="clear">Maintenance Fee</h3>

          <P>Our maintenance fee is $35.00 per hr. Any maintenance problems will be billed to the owner. However, the owner will be notified prior to, unless it is something that has to be fixed immediately (leaks, or hot water tank replacement).</P>



        </DIV>

        <DIV id="footer">
          <a href="http://www.facebook.com/pages/Metro-Property-Management-St-Johns-NL/162718460424735#!/pages/The-Property-Handlers/248281775249732?notif_t=page_new_likes">
            <%= image_tag "facebook.png" %></a><div class="g-plusone" data-annotation="none"></div>
            <P>1848 Portugal Cove Road . Portugal Cove St. Phillips . Newfoundland A1M 2N2</p>
              <p>All Rights Reserved. 2012 &#169. A <a href="http://about.me/JaretManuel">Squirrel Nut Studio</a> Production.</P>
              </DIV>
            </body>
            </html>